/laskarit/viikko2/unicafe/.pytest_cache
/laskarit/viikko2/unicafe/src/__pycache__
/laskarit/viikko2/unicafe/src/tests/__pycache__
/laskarit/viikko2/unicafe/.coverage
/laskarit/viikko2/unicafe/htmlcov
/testailua/
/.vscode/
/.pytest_cache/
/src/__pycache__/
/src/data/__pycache__/
/src/ui/__pycache__/
/.coverage
/htmlcov/
/src/tests/__pycache__/
/..gitignore.swp
